In [1]:
#문자열 

letter_kim = """
안녕하세요. 김민우 고객님 !
현대자동차 고객센터입니다. 
고객님이 소유한 자동차 아반떼는 현재 2020년 구입하신지 1년되었습니다. 
정기점검을 받으셔야합니다. 
빠른 시일내 가까운 서비스센터에 방문바랍니다.
"""

In [2]:
a = "안녕하세요. {1} 고객님. 소유하신 자동차 {0}는 현재 구입하신지 {2}년 되었습니다.".format('김민우','소나타',2)
b = "안녕하세요. {2} 고객님. 소유하신 자동차 {0}는 현재 구입하신지 {1}년 되었습니다.".format('김민우','소나타',2)
c = "안녕하세요. {} 고객님. 소유하신 자동차 {}는 현재 구입하신지 {}년 되었습니다.".format('김민우','소나타',2)
print(a)
print(b)
print(c)

안녕하세요. 소나타 고객님. 소유하신 자동차 김민우는 현재 구입하신지 2년 되었습니다.
안녕하세요. 2 고객님. 소유하신 자동차 김민우는 현재 구입하신지 소나타년 되었습니다.
안녕하세요. 김민우 고객님. 소유하신 자동차 소나타는 현재 구입하신지 2년 되었습니다.

In [3]:
a = "{:0.2f} X {} = {}".format(2,2.0,4)
print(a)

2.00 X 2.0 = 4

In [1]:
#함수

a = [3,4,1,9,7]

print(sorted(a))

[1, 3, 4, 7, 9]

In [6]:
a = "derekkim"
print(a.upper())

b= "DerekKim"
print(b.swapcase())

c = "hello, this is my website!"
print(c.title())

DEREKKIM
dEREKkIM
Hello, This Is My Website!

In [15]:
d = 'qwertyuiop'
print(d.find('w'))

e = 'Hello, my name is Derek'
print(e.find('D'))
print(e.find('k'))
print(e[18:23])
print(e[e.find('m'):e.find('23')])

#단 ,find function을 쓸때 중복불가능

1
18
22
Derek
my name is Dere

In [17]:
a = '1234678'
print(a.isdigit())

True

In [19]:
a = 'Derek'
print(a.isprintable())
print(a.istitle())

True
True

In [22]:
a = '1'
a = float(a)
print(a)

1.0

In [24]:
a = 1.2345
print(type(a))
print(int(a))

<class 'float'>
1

In [26]:
a = [1,2,3,4]
print(type(a))

<class 'list'>

In [29]:
a.append('a')
a.append('a')
print(a)
#append function adds to the list

[1, 2, 3, 4, 'a', 'a', 'a', 'a']

In [40]:
a.extend('123')
print(a)
print(a+[1,2,3])

[1, 2, 3, 4, '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3']
[1, 2, 3, 4, '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', 1, 2, 3]