In [3]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/derekkim175/opt/anaconda3/lib/python3.7/site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymysql

In [7]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd = 'Chiggawithagun1.', db='weather', charset='utf8')

In [8]:
cursor = db.cursor()

In [26]:
sql = "Update cpu_info Set id = '20' Where id='1'"
cursor.execute(sql)
db.commit()

In [25]:
result = cursor.fetchone()
print(result)

None

In [3]:
import requests
import bs4
movie_url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn"
movie_requests = requests.get(movie_url)
movie_html = movie_requests.text
bs4_movie = bs4.BeautifulSoup(movie_html, 'html')
rank = bs4_movie.find_all('div', attrs={'class','tit3'})

In [30]:
for i in range(0,len(rank)):
    print(i+1,rank[i].text.strip())

1 주디
2 1917
3 인비저블맨
4 엽문4: 더 파이널
5 코로나
6 정직한 후보
7 다크 워터스
8 언더워터
9 지푸라기라도 잡고 싶은 짐승들
10 사랑하고 있습니까
11 스케어리 스토리: 어둠의 속삭임
12 라라랜드
13 n번째 이별중
14 젠틀맨
15 더 터닝
16 반도
17 용길이네 곱창집
18 작은 아씨들
19 언더 워터
20 바이올렛 에버가든 - 영원과 자동 수기 인형 -
21 나쁜 녀석들 : 포에버
22 블러드샷
23 어메이징 메리
24 공수도
25 신과 나: 100일간의 거래
26 혼숨
27 사냥의 시간
28 아웃사이더
29 더 콜 오브 더 와일드
30 온다
31 첫키스만 50번째
32 페임
33 그녀의 비밀정원
34 비바리움
35 월드워Z
36 건즈 아킴보
37 기생충
38 울프 콜
39 트라우마 센터
40 비행
41 오픈 더 도어
42 패왕별희
43 더 플랫폼
44 클로젯
45 날씨의 아이
46 시동
47 찬실이는 복도 많지
48 그린 북
49 헌트
50 마녀

In [29]:
for i in range(0,len(rank)):
    x = i+1
    y = rank[i].text.strip()
    sql = "INSERT INTO `weather`.`naver_movie`(`rank`,`movie_name`) VALUES  ('"+str(x)+"','"+y+"')"
    cursor.execute(sql)
    db.commit()

IntegrityError: (1062, "Duplicate entry '1' for key 'naver_movie.PRIMARY'")

In [30]:
print(sql)

INSERT INTO `weather`.`naver_movie`(`rank`,`movie_name`) VALUES  ('1','1917')

In [40]:
name = '김민우'
print('제 이름은', name, '입니다')

제 이름은 김민우 입니다

In [49]:
print(x)

1

In [51]:
print(y)
type(y)

주디

str

In [ ]:
INSERT INTO `weather`.`naver_movie`
(`rank`,
`movie_name`)
VALUES
(<{rank: }>,
<{movie_name: }>);

Homework:
Update dates on workbench

In [1]:
import requests
import bs4
movie_url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn"
date_requests = requests.get(movie_url)
date_html = date_requests.text
bs4_date = bs4.BeautifulSoup(date_html, 'html')

In [5]:
date = bs4_date.find_all('p', attrs={'class','r_date'})
print(date)

[<p class="r_date">2020.04.05 <a href="rmovie.nhn?sel=cnt&amp;tg=0&amp;date=20200404"><img alt="prev" height="13" src="https://ssl.pstatic.net/imgmovie/2007/img/common/btn_prev.gif" style="margin-right:1px;" width="13"/></a></p>]

In [37]:

#     x = (date[i].text.strip())
#     d = "Update naver_movie Set date = '"+x+"'"
#     cursor.execute(d)
#     db.commit()

In [11]:
type(x)

str

In [2]:
import requests
import bs4
corona_url = "https://www.worldometers.info/coronavirus/#countries"
corona_requests = requests.get(corona_url)
corona_html = corona_requests.text
bs4_corona = bs4.BeautifulSoup(corona_html, 'html')

In [3]:
country = bs4_corona.find_all('a',attrs={'class','mt_a'})
# a = bs4_corona.find('a',attrs={'class','mt_a'})
# total_cases = a.findNext().text

In [45]:
for i in range(0,50):
    total_cases = country[i].findNext()
    new_cases = total_cases.findNext().text
    if new_cases == "":
        print(0)
    else:
        print(new_cases)

+655
+3,835
0
0
0
+2,089
0
0
+585
+1,380
0
0
+164
+712
+57
+47
+102
+1,154
0
+13
+1
0
+297
+130
+6
0
+119
+360
+238
+170
0
+104
0
0
+147
+247
0
+296
+132
+38
0
0
0
0
0
0
0
0
0
0

In [41]:
type(total_cases)
print(total_cases)

367,659

In [35]:
type(total)

str

In [30]:
for i in range(0,50):
    total_cases = country[i].findNext().text

In [74]:
def corona():
    s=''
    for i in range(0,50):
        nation = (country[i].text.strip())

        total = country[i].findNext().text

        total_cases = country[i].findNext()
        new = total_cases.findNext().text

        if new == "":
            new = "0"

        new_cases  = country[i].findNext('td').findNext('td')
        death = new_cases.findNext().text

        total_death = country[i].findNext('td').findNext('td').findNext('td')
        new_death = total_death.findNext().text

        if new_death == "":
            new_death = "0"
            
            
        s += str(i+1)+" Country: "+nation+"\n Total Cases: "+total+ "\n New Cases: "+new+"\n Total Death: "+death+"\n New Death: "+new_death+"\n"
    return s
        y = 'INSERT INTO `weather`.`CoronaVirus_Data` (`country`,`total_cases`,`new_cases`,`total_deaths`,`new_deaths`) VALUES ("'+nation+'","'+total+'","'+new+'","'+death+'","'+new_death+'");'
        cursor.execute(y)
        db.commit()
    bot = telegram.Bot(token = telegram_token)
    bot.sendMessage(telegram_id, corona)
    
schedule.every().day().at("22:00").do(corona)

while True:
    schedule.run_pending()
    time.sleep(1)

IndentationError: unexpected indent (<ipython-input-74-08e8efb61cde>, line 26)

In [68]:
print(corona())

1 Country: USA
 Total Cases: 560,433
 New Cases: +133
 Total Death: 22,115
 New Death: +10
2 Country: Spain
 Total Cases: 169,496
 New Cases: +2,665
 Total Death: 17,489
 New Death: +280
3 Country: Italy
 Total Cases: 156,363
 New Cases: 0
 Total Death: 19,899
 New Death: 0
4 Country: France
 Total Cases: 132,591
 New Cases: 0
 Total Death: 14,393
 New Death: 0
5 Country: Germany
 Total Cases: 127,854
 New Cases: 0
 Total Death: 3,022
 New Death: 0
6 Country: UK
 Total Cases: 84,279
 New Cases: 0
 Total Death: 10,612
 New Death: 0
7 Country: Iran
 Total Cases: 73,303
 New Cases: +1,617
 Total Death: 4,585
 New Death: +111
8 Country: Turkey
 Total Cases: 56,956
 New Cases: 0
 Total Death: 1,198
 New Death: 0
9 Country: Belgium
 Total Cases: 30,589
 New Cases: +942
 Total Death: 3,903
 New Death: +303
10 Country: Netherlands
 Total Cases: 26,551
 New Cases: +964
 Total Death: 2,823
 New Death: +86
11 Country: Switzerland
 Total Cases: 25,503
 New Cases: +88
 Total Death: 1,117
 New Death: +11
12 Country: Canada
 Total Cases: 24,383
 New Cases: 0
 Total Death: 717
 New Death: 0
13 Country: Brazil
 Total Cases: 22,318
 New Cases: +126
 Total Death: 1,241
 New Death: +18
14 Country: Russia
 Total Cases: 18,328
 New Cases: +2,558
 Total Death: 148
 New Death: +18
15 Country: Portugal
 Total Cases: 16,934
 New Cases: +349
 Total Death: 535
 New Death: +31
16 Country: Austria
 Total Cases: 13,998
 New Cases: +53
 Total Death: 368
 New Death: +18
17 Country: Israel
 Total Cases: 11,235
 New Cases: +90
 Total Death: 110
 New Death: +7
18 Country: Sweden
 Total Cases: 10,948
 New Cases: +465
 Total Death: 919
 New Death: +20
19 Country: S. Korea
 Total Cases: 10,537
 New Cases: +25
 Total Death: 217
 New Death: +3
20 Country: Ireland
 Total Cases: 9,655
 New Cases: 0
 Total Death: 334
 New Death: 0
21 Country: India
 Total Cases: 9,240
 New Cases: +35
 Total Death: 331
 New Death: 0
22 Country: Peru
 Total Cases: 7,519
 New Cases: 0
 Total Death: 193
 New Death: 0
23 Country: Ecuador
 Total Cases: 7,466
 New Cases: 0
 Total Death: 333
 New Death: 0
24 Country: Japan
 Total Cases: 7,370
 New Cases: 0
 Total Death: 123
 New Death: 0
25 Country: Chile
 Total Cases: 7,213
 New Cases: 0
 Total Death: 80
 New Death: 0
26 Country: Poland
 Total Cases: 6,674
 New Cases: 0
 Total Death: 232
 New Death: 0
27 Country: Romania
 Total Cases: 6,633
 New Cases: +333
 Total Death: 318
 New Death: +2
28 Country: Norway
 Total Cases: 6,525
 New Cases: 0
 Total Death: 128
 New Death: 0
29 Country: Australia
 Total Cases: 6,359
 New Cases: +46
 Total Death: 61
 New Death: +2
30 Country: Denmark
 Total Cases: 6,318
 New Cases: +144
 Total Death: 285
 New Death: +12
31 Country: Czechia
 Total Cases: 5,991
 New Cases: 0
 Total Death: 139
 New Death: +1
32 Country: Pakistan
 Total Cases: 5,374
 New Cases: +144
 Total Death: 93
 New Death: +2
33 Country: Philippines
 Total Cases: 4,932
 New Cases: +284
 Total Death: 315
 New Death: +18
34 Country: Malaysia
 Total Cases: 4,817
 New Cases: +134
 Total Death: 77
 New Death: +1
35 Country: Mexico
 Total Cases: 4,661
 New Cases: +442
 Total Death: 296
 New Death: +23
36 Country: Indonesia
 Total Cases: 4,557
 New Cases: +316
 Total Death: 399
 New Death: +26
37 Country: Saudi Arabia
 Total Cases: 4,462
 New Cases: 0
 Total Death: 59
 New Death: 0
38 Country: UAE
 Total Cases: 4,123
 New Cases: 0
 Total Death: 22
 New Death: 0
39 Country: Serbia
 Total Cases: 3,630
 New Cases: 0
 Total Death: 80
 New Death: 0
40 Country: Panama
 Total Cases: 3,400
 New Cases: 0
 Total Death: 87
 New Death: 0
41 Country: Luxembourg
 Total Cases: 3,281
 New Cases: 0
 Total Death: 66
 New Death: 0
42 Country: Qatar
 Total Cases: 3,231
 New Cases: +252
 Total Death: 7
 New Death: 0
43 Country: Ukraine
 Total Cases: 3,102
 New Cases: +325
 Total Death: 93
 New Death: +10
44 Country: Finland
 Total Cases: 3,064
 New Cases: +90
 Total Death: 59
 New Death: +3
45 Country: Dominican Republic
 Total Cases: 2,967
 New Cases: 0
 Total Death: 173
 New Death: 0
46 Country: Belarus
 Total Cases: 2,919
 New Cases: +341
 Total Death: 29
 New Death: +3
47 Country: Colombia
 Total Cases: 2,776
 New Cases: 0
 Total Death: 109
 New Death: 0
48 Country: Thailand
 Total Cases: 2,579
 New Cases: +28
 Total Death: 40
 New Death: +2
49 Country: Singapore
 Total Cases: 2,532
 New Cases: 0
 Total Death: 8
 New Death: 0
50 Country: Argentina
 Total Cases: 2,208
 New Cases: +66
 Total Death: 95
 New Death: +5

In [63]:
for i in range(0,50):
    new_cases  = country[i].findNext('td').findNext('td')
    death = new_cases.findNext().text
    print(death)

10,943
13,798
16,523
1,810
8,911
3,872
5,373
649
787
2,035
1,867
323
243
345
566
192
60
58
477
48
83
174
203
137
80
37
111
184
55
63
92
177
191
41
38
221
92
125
27
27
58
55
11
4
86
81
12
53
46
6

In [55]:
print(total_cases[0])

KeyError: 0

In [56]:
type(total_cases)

bs4.element.Tag

In [57]:
type(country)

bs4.element.ResultSet

In [59]:
print(country[1])

<a class="mt_a" href="country/spain/">Spain</a>

In [61]:
import requests 
import bs4
url = 'https://www.worldometers.info/coronavirus/' 
request_result = requests.get(url) 
corona = request_result.text 

soup = bs4.BeautifulSoup(corona,'html')
temp = soup.find('tr',class_='total_row_world')
for i in range(0,50):
    temp = temp.findNext('tr')
    if(temp.find('a',class_='mt_a') != None):
        print('국가 : ', temp.find('a',class_='mt_a').text)
        print('총 확진자 수 :', temp.findNext('td').findNext('td').text)
        print('새로운 확진자 수: ',temp.findNext('td').findNext('td').findNext('td').text)
        print()

국가 :  USA
총 확진자 수 : 367,719
새로운 확진자 수:  +715

국가 :  Spain
총 확진자 수 : 140,510
새로운 확진자 수:  +3,835

국가 :  Italy
총 확진자 수 : 132,547
새로운 확진자 수:

국가 :  Germany
총 확진자 수 : 103,717
새로운 확진자 수:  +342

국가 :  France
총 확진자 수 : 98,010
새로운 확진자 수:

국가 :  Iran
총 확진자 수 : 62,589
새로운 확진자 수:  +2,089

국가 :  UK
총 확진자 수 : 51,608
새로운 확진자 수:

국가 :  Turkey
총 확진자 수 : 30,217
새로운 확진자 수:

국가 :  Switzerland
총 확진자 수 : 22,242
새로운 확진자 수:  +585

국가 :  Belgium
총 확진자 수 : 22,194
새로운 확진자 수:  +1,380

국가 :  Netherlands
총 확진자 수 : 19,580
새로운 확진자 수:  +777

국가 :  Canada
총 확진자 수 : 16,667
새로운 확진자 수:

국가 :  Austria
총 확진자 수 : 12,488
새로운 확진자 수:  +191

국가 :  Portugal
총 확진자 수 : 12,442
새로운 확진자 수:  +712

국가 :  Brazil
총 확진자 수 : 12,240
새로운 확진자 수:  +57

국가 :  S. Korea
총 확진자 수 : 10,331
새로운 확진자 수:  +47

국가 :  Israel
총 확진자 수 : 9,006
새로운 확진자 수:  +102

국가 :  Sweden
총 확진자 수 : 7,693
새로운 확진자 수:  +487

국가 :  Russia
총 확진자 수 : 7,497
새로운 확진자 수:  +1,154

국가 :  Australia
총 확진자 수 : 5,908
새로운 확진자 수:  +13

국가 :  Norway
총 확진자 수 : 5,866
새로운 확진자 수:  +1

국가 :  Ireland
총 확진자 수 : 5,364
새로운 확진자 수:

국가 :  Denmark
총 확진자 수 : 4,978
새로운 확진자 수:  +297

국가 :  India
총 확진자 수 : 4,908
새로운 확진자 수:  +130

국가 :  Czechia
총 확진자 수 : 4,828
새로운 확진자 수:  +6

국가 :  Chile
총 확진자 수 : 4,815
새로운 확진자 수:

국가 :  Poland
총 확진자 수 : 4,532
새로운 확진자 수:  +119

국가 :  Romania
총 확진자 수 : 4,417
새로운 확진자 수:  +360

국가 :  Pakistan
총 확진자 수 : 4,004
새로운 확진자 수:  +238

국가 :  Malaysia
총 확진자 수 : 3,963
새로운 확진자 수:  +170

국가 :  Japan
총 확진자 수 : 3,906
새로운 확진자 수:

국가 :  Philippines
총 확진자 수 : 3,764
새로운 확진자 수:  +104

국가 :  Ecuador
총 확진자 수 : 3,747
새로운 확진자 수:

국가 :  Luxembourg
총 확진자 수 : 2,843
새로운 확진자 수:

국가 :  Saudi Arabia
총 확진자 수 : 2,752
새로운 확진자 수:  +147

국가 :  Indonesia
총 확진자 수 : 2,738
새로운 확진자 수:  +247

국가 :  Peru
총 확진자 수 : 2,561
새로운 확진자 수:

국가 :  Mexico
총 확진자 수 : 2,439
새로운 확진자 수:  +296

국가 :  Finland
총 확진자 수 : 2,308
새로운 확진자 수:  +132

국가 :  Thailand
총 확진자 수 : 2,258
새로운 확진자 수:  +38

국가 :  Serbia
총 확진자 수 : 2,200
새로운 확진자 수:

국가 :  Panama
총 확진자 수 : 2,100
새로운 확진자 수:

국가 :  UAE
총 확진자 수 : 2,076
새로운 확진자 수:

국가 :  Qatar
총 확진자 수 : 1,832
새로운 확진자 수:

국가 :  Dominican Republic
총 확진자 수 : 1,828
새로운 확진자 수:

국가 :  Greece
총 확진자 수 : 1,755
새로운 확진자 수:

국가 :  South Africa
총 확진자 수 : 1,686
새로운 확진자 수:

국가 :  Argentina
총 확진자 수 : 1,628
새로운 확진자 수:

국가 :  Colombia
총 확진자 수 : 1,579
새로운 확진자 수:

국가 :  Iceland
총 확진자 수 : 1,562
새로운 확진자 수:

In [1]:
pip install schedule

Collecting schedule
  Downloading https://files.pythonhosted.org/packages/57/22/3a709462eb02412bd1145f6e53604f36bba191e3e4e397bea4a718fec38c/schedule-0.6.0-py2.py3-none-any.whl
Installing collected packages: schedule
Successfully installed schedule-0.6.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import schedule
import time

In [5]:
def job():
    print("I'm working...")
    
#run every 10 seconds    
schedule.every(10).seconds.do(job)

while True:
    schedule.run_pending()
    time.sleep(1)

I'm working...
I'm working...
I'm working...
I'm working...
I'm working...

KeyboardInterrupt: