In [3]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/derekkim175/opt/anaconda3/lib/python3.7/site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql

In [2]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd = 'Chiggawithagun1.', db='weather', charset='utf8')

In [3]:
cursor = db.cursor()

In [26]:
sql = "Update cpu_info Set id = '20' Where id='1'"
cursor.execute(sql)
db.commit()

In [25]:
result = cursor.fetchone()
print(result)

None

In [4]:
import requests
import bs4
movie_url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn"
movie_requests = requests.get(movie_url)
movie_html = movie_requests.text
bs4_movie = bs4.BeautifulSoup(movie_html, 'html')
rank = bs4_movie.find_all('div', attrs={'class','tit3'})

In [30]:
for i in range(0,len(rank)):
    print(i+1,rank[i].text.strip())

1 주디
2 1917
3 인비저블맨
4 엽문4: 더 파이널
5 코로나
6 정직한 후보
7 다크 워터스
8 언더워터
9 지푸라기라도 잡고 싶은 짐승들
10 사랑하고 있습니까
11 스케어리 스토리: 어둠의 속삭임
12 라라랜드
13 n번째 이별중
14 젠틀맨
15 더 터닝
16 반도
17 용길이네 곱창집
18 작은 아씨들
19 언더 워터
20 바이올렛 에버가든 - 영원과 자동 수기 인형 -
21 나쁜 녀석들 : 포에버
22 블러드샷
23 어메이징 메리
24 공수도
25 신과 나: 100일간의 거래
26 혼숨
27 사냥의 시간
28 아웃사이더
29 더 콜 오브 더 와일드
30 온다
31 첫키스만 50번째
32 페임
33 그녀의 비밀정원
34 비바리움
35 월드워Z
36 건즈 아킴보
37 기생충
38 울프 콜
39 트라우마 센터
40 비행
41 오픈 더 도어
42 패왕별희
43 더 플랫폼
44 클로젯
45 날씨의 아이
46 시동
47 찬실이는 복도 많지
48 그린 북
49 헌트
50 마녀

In [5]:
for i in range(0,len(rank)):
    x = i+1
    y = rank[i].text.strip()
    sql = "INSERT INTO `weather`.`naver_movie`(`rank`,`movie_name`) VALUES  ('"+str(x)+"','"+y+"')"
    cursor.execute(sql)
    db.commit()

In [47]:
print(sql)

INSERT into naver_movie (rank, movie_name) values (x,y)

In [40]:
name = '김민우'
print('제 이름은', name, '입니다')

제 이름은 김민우 입니다

In [49]:
print(x)

1

In [51]:
print(y)
type(y)

주디

str

In [ ]:
INSERT INTO `weather`.`naver_movie`
(`rank`,
`movie_name`)
VALUES
(<{rank: }>,
<{movie_name: }>);

Homework:
Update dates on workbench